<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bill.musicplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelfHelp"
            android:label="@string/selfHelp" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <activity
            android:name=".StudyMusic"
            android:label="@string/studyMusic" />
        <activity
            android:name=".Tech"
            android:label="@string/tech" />
        <activity
            android:name=".FilmSoundtrack"
            android:label="@string/filmSoundtracks" />
        <activity
            android:name=".VideogameTunes"
            android:label="@string/chiptunes" />

    </application>

</manifest>